.btn {
    border: 2px solid;
    border-radius: 3px;
    //background-color: $color-white;
}

.btn__primary{
    border-color: $color-white;
    background-color: $color-black;
    color: $color-white;
}