.section__blog {
    //min-height: 900px;
    background: $color-white;
    &--container{
        width: 1272px;
        height: 100%;
        margin: 0 auto;
       
        @include notebook {
            width: 99%;
        }
        
    }

    &--header{
        font-style: normal;
        font-weight: 600;
        font-size: 1.0667rem;
        line-height: 117%;
        /* identical to box height, or 117% */
        letter-spacing: 0.5px;
        padding: calc(85px - 2rem) 0 21px 0;
        @include mobile {
            padding: 10% 0 21px 0;
        }

        &::before{
            content:"";
            display: block;
            position:relative;
            height: 2px;
            background: $color-black;
            border-radius: 1px;
            width:1rem;
            //flex-grow: 1;
            top: 1.35rem;
        }
        &::after{
            content:"";
            display: block;
            height: 2px;
            //background: $color-black;
            //width:1rem;
            background: $color-light-grey;
            width:98%;
        }
    }
}

.tabs__nav{
    list-style:none;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    //height: 100%;
    height: 2rem;
    //border-bottom: 0.4rem;
    padding: 0;
    width: 98%;
    border-bottom: 2px solid $color-light-grey;
    margin: 0 0 1rem;
        @include mobile {
            flex-wrap: wrap;
            border-bottom:none;
            margin: 0;
        }

    
    li{
        //text-decoration: none;
        margin: 0 1rem 0 0;
        font-weight: 600;
        font-size: 0.9rem;
        line-height: 140%;
        letter-spacing: 0.5px;
        cursor:pointer;
        padding: 0 0 .8rem 0;
        @include mobile {
            //padding: 0 0 .5rem 0;
        }

    }
}

.active{
    border-bottom: 2px solid $color-black;
    border-radius: 1px;
    //z-index: 20;
    position:relative;
    
    
}