//slider
.slider{
    height: 0;
    padding-bottom: 57.6388889%; /* 16:9 */
    position: relative;
    width: 100%;
}

//hero section
.hero {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-image: url(../assets/torii-forest-illustration-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}